 .orinoco {
     display: flex;
    justify-content: center;

    
 }

 .vinShop {
     display:flex;
     justify-content: center;
     margin-top: 4px;
     margin-bottom: 30px;
     text-decoration: underline;
 }

 .headLinks {
     display:flex;
     flex-direction: row;
     align-content: stretch;
     justify-content: center;
     background-color: rgba(38,22,35,1);
     color: white;
     font-family: sans-serif;
     font-size: 16px;
     padding: 5px;
     margin-bottom: 40px;
     
     
 }

 .headLinks a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

.home {
    padding-top: 3px;
    margin-right: 30px;
}

.cart {
    display: flex;
    flex-direction: row;
    padding: 17px;
    margin-left: 30px;
    align-content: center;
    justify-content: center;
    
}

.cart:hover {
  background-color: #ababab;
}

  .headLinks a:hover {
      background-color: #ababab;
  }

 

 /* Dropdown Button */
 .dropbtn {
    background-color: rgba(38,22,35,1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ababab;} 

  h2 {
    display:flex;
    justify-content: center;
    text-decoration: underline;

  }
 .welcome {
  display:flex;
  justify-content: center;
 }

  

 /* .itemInfo { */
    #camDetails {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 15px;
    padding: 15px;
    max-width: 300px;
    align-content: space-around;
    background-color: #646464;
  }

  #cameras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 20px;
    align-content: space-between;
    justify-content: center;
  } 

  .foot {
    background-color:rgba(38,22,35,1);
    color: white;
    padding: 6px;
    margin-top: 20px;
  }

  /* Cart */

  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(38,22,35,0.6);
    z-index: 2;
    visibility: hidden;  
    color: white;
  }

  .cartTitle {
    color: white;
  }

  .cart-item {
    display: flex;
    justify-content:space-between;
    /*color: orange; */
    margin-top: 15px;

  }

  .cart-item-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
     height: 100px;
     width: 150%; 
  }

  .cart-quantity {
    display: flex;
    flex-direction: row;
    height: 20px;
   
  }

  #cart-items {
    display: flex;
    flex-direction: row;

  }

  .transparentBcg {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(38,22,35,0.6);
    z-index: 2;
    visibility: visible;
  }

  .cart-footer {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    color: white;
  }